/node_modules
/public/hot
/public/css/*
/public/js/*
/public/storage
/storage/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/nbproject/private
_ide_helper.php
_ide_helper_models.php
manifest.yml
.bp-config
.cf-ignore